<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.2.0.min.js"></script>
        <script>
            const socket = io.connect();
            $(document).ready(() => {
                socket.on('XAC_NHAN_DANG_KY', arrUsername => {
                    if(!arrUsername) return alert('DANG_KY_THAT_BAI');
                    arrUsername.forEach(username => $('#ulUsername').append(`<li>${username}</li>`));
                    socket.on('NEW_USER_CONNECTED', username => {
                        $('#ulUsername').append(`<li>${username}</li>`);
                    });

                    socket.on('GOT_NEW_MESSAGE', msg => console.log(msg));
                });



                $('#btnSignUp').click(() => {
                    const username = $('#txtUsername').val();
                    $('#txtUsername').val('');
                    socket.emit('NEW_USER_SIGN_UP', username);
                });

                $('#btnSend').click(() => {
                    const dest = $('#txtDest').val();
                    const message = $('#txtMessage').val();
                    $('#txtMessage').val('');
                    socket.emit('CLIENT_SEND_NEW_MESSAGE',{ dest, message });
                });

            });
        </script>
    </head>
    <body>
        <h1>KhoaPham Training</h1>
        <input type="text" id="txtUsername" placeholder="Enter you username">
        <button id="btnSignUp">Sign Up</button>
        <hr />
        <input type="text" id="txtDest" placeholder="Enter you friend username">
        <br /><br />
        <input type="text" id="txtMessage" placeholder="Enter you message">
        <br /><br />
        <button id="btnSend">SEND</button>
        <hr />
        <ul id="ulUsername">
            <li>khoapham</li>
        </ul>
    </body>
</html>
