<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="jquery-3.2.0.min.js"></script>
        <script>
            const socket = io.connect();
            $(document).ready(() => {
                $('#btnSignUp').click(() => {
                    const username = $('#txtUsername').val();
                    $('#txtUsername').val('');
                    socket.emit('NEW_USER_SIGN_UP', username);
                });
            });
        </script>
    </head>
    <body>
        <h1>KhoaPham Training</h1>
        <input type="text" id="txtUsername" placeholder="Enter you message">
        <button id="btnSignUp">Sign Up</button>
    </body>
</html>