<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Socket.io</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io.connect();
            socket.on('SERVER_SEND_A_MESSAGE', data => {
                console.log(data);
            });
        </script>
    </head>
    <body>
        <h1>KhoaPham Training</h1>
    </body>
</html>